[submodule "xtoph_deploy"]
	path = xtoph_deploy
	url = https://github.com/xtophd/xtoph_deploy
[submodule "roles/xtoph_deploy"]
	path = roles/xtoph_deploy
	url = https://github.com/xtophd/xtoph_deploy
