# ------------------
#      Host FQDN ... {{ inventory_hostname }}
#     OS Version ... {{ ansible_distribution }} {{ ansible_distribution_version }}
# Workshop Setup ... INCOMPLETE
# ------------------
