#!/bin/bash

##
##    This script kills anyting the SUDO_USER is running, there-by
##    returning a participant to the bastion-host (or 
##    whereever they connected from).
##

[[ $(hostname -s) != "bastion" ]] && pkill -9 -u ${SUDO_USER}
