FROM quay.io/fedora/fedora-bootc@sha256:769911834d6895930c25ad0cb9e6d56a8f0abcb4bc6355a48b79c4fabc2b595d

RUN dnf install -y httpd
RUN echo "* SUCCESS: hello bootc *" > /var/www/html/index.html

RUN systemctl enable httpd.service
