
##
## ** NOTE ** Use ansible-vault to encrypt this
##

workshop_student_uid:      "{{ lookup('env','WORKSHOP_STUDENT_UID') }}"
workshop_student_password: "{{ lookup('env','WORKSHOP_STUDENT_PW') }}"

workshop_admin_uid:        "{{ lookup('env','WORKSHOP_ADMIN_UID') }}"
workshop_admin_password:   "{{ lookup('env','WORKSHOP_ADMIN_PW') }}"

##
##
##

rhsm_credentials:
  username: "{{ t_rhsm_uid }}"
  password: "{{ t_rhsm_pw }}"

##
##
##

libvirt_credentials:
  default:
    username: "{{ t_virthost_uid }}"
    password: "{{ t_virthost_pw }}"

##
##
##

ovirt_credentials:
  default:
    username: "{{ t_ovirt_manager_uid }}"
    password: "{{ t_ovirt_manager_pw }}"

##
##    Credentials to access the IPMI bmc
##

bmc_credentials:

  ##
  ##    If you have a standard uid/pw, set the default
  ##    or use the bmc_fqdn (NOT THE HOST FQDN!)
  ##

  default:
    username: "{{ lookup('env','BMC_UID_DEFAULT') }}"
    password: "{{ lookup('env','BMC_PW_DEFAULT') }}"

{% for hgroup in [ "myBastion", "myNodes", "myLeapp" ] %}
{% for index in range(1,9) %}
{%     if  lookup('env',"HGROUP_NODE" ~ index) == hgroup and lookup('env',"BMC_NODE" ~ index)|length %}
  {{ lookup('env',"BMC_NODE" ~ index) }} :
    username: "{{ lookup('env','BMC_UID_NODE' ~ index) }}"
    password: "{{ lookup('env','BMC_PW_NODE' ~ index) }}"

{%     endif %}
{% endfor %}
{% endfor %}

