##
## RESOURCE PROFILES
##

custom_bastion:
    name: "custom_bastion"
    description: "Custom Bastion Utility Server"
    vcpus:    4
    memsize:  8000
    storage:
      root:
        size: 50 
        hw_storage_profile: default

custom_rhel:
    name: "custom_rhel"
    description: "Custom RHEL node"
    vcpus:    4
    memsize:  8000
    storage:
      root:
        size: 50
        hw_storage_profile: default

custom_rhel_extra:
    name: "custom_rhel_extra"
    description: "Custom RHEL node with extra storage"
    vcpus:    4
    memsize:  8000
    storage:
      root:
        size: 50
        hw_storage_profile: default
      extra:
        disk1:
          size: 10
          hw_storage_profile: default
        disk2:
          size: 10
          hw_storage_profile: default
        disk3:
          size: 10
          hw_storage_profile: default
        disk4:
          size: 10
          hw_storage_profile: default

